<!DOCTYPE html>
<html lang="fr">
<head>
    {% block head %}
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <title>TP ORM avec PostGreSQL - {% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
<div class="header">
    <img class="logo" src="/assets/media/elephant.png">
    <a href="/">Livres</a>&nbsp;|&nbsp;
    <a href="/authors">Auteurs</a>&nbsp;|&nbsp;
    <a href="/readers">Lecteurs</a>
</div>
<div class="background"></div>
<div id="content" class="content">{% block content %}{% endblock %}</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2026 by <a href="http://domain.invalid/">you</a>.
    {% endblock %}
</div>
</body>
</html>
